.task
{
    border: 1px solid black;
    display: block;
    padding: 1em;
}

.taskList
{
    padding: 1em;
    display: inline-block;
}

.addTime
{
    display: inline-block;
    padding-left: 1em;
}
.addTime input
{
    width: 2em;
    margin-right: .5em;
}
